# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
source/
backend/venv/
backend/source/

# Database
*.db
*.sqlite3

# Environment variables
.env

# Node
node_modules/
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
